<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>SukhSagar</title>
</head>

<body>
    <div class="row main" id="login-section">
        <div class="div1 animate__animated animate__backInLeft" id="login-section1">
            <img src="image/login.png" width="20%" height="20%" style="margin-top: 8%;">
            <h2>Login Here!!</h2>
            <hr>
            <h6>"I will always welcome joyfully any opportunity that comes my way to be of service to you"</h6>
            <p>If You Don't Have Any Account</p>
            <button id="signupp" type="button" class="btn btn-success btn-lg" style="margin-top: 0.6rem;">Register Here</button>
        </div>
        <div class="div2 animate__animated animate__backInRight" id="login-section2">
            <p>To Keep Connected With Us Please Login With Your Personal Information By Username And Password</p>
            <hr>
            <p style="text-align: center;color: red;">
                <%=wrongDetail%>
            </p>
            <div class="row" style="width: 100%;height: 55%;display: flex;justify-content: center;align-items: center;">
                <div style="width: 28%;height: 100%;display: inline-block">
                    <img id="imag1" src="image/rocket.png">
                    <p>Wait For Login!!</p>
                </div>
                <div style="width: 70%;height: 100%;display: inline-block;background-color: powderblue;">
                    <h6 style="margin-top: 0.2em;">Enter Your Credentials Here</h6>
                    <form class="form1" action="/login" method="POST">
                        <!-- class="i1 fa fa-envelope icon"  class="i2 fa fa-key icon" -->
                        <div class="form-outline">
                            <!-- <i class="fa fa-envelope icon"></i> -->
                            <input type="email" id="username" name="email1" class="form-control form-control-lg" required/>
                            <label class="form-label" for="typeEmail">Enter Your Email </label>
                        </div>
                        <div class="form-outline" style="margin-top: 0.8rem;">
                            <!-- <i class="fas fa-user prefix"></i> -->
                            <input type="password" id="password" name="pass1" class="form-control form-control-lg" required/>
                            <label class="form-label" for="typePassword">Enter Your Password</label>
                        </div>
                        <!-- <button type="button" class="btn btn-primary btn-lg">Login</button> -->
                        <button type="submit" id="log-btn" class="btn btn-success btn-lg" style="margin-top: 0.8rem;">Login</button>
                    </form>
                </div>
            </div>
            <!-- <div style="margin-top: 1.5em;">
                <p>Or You Can Login With </p>
                <a href="#!" role="button"><i class="fab fa-google fa-fw fa-2x"></i></a>
                <a href="#!" role="button"><i class="fab fa-facebook fa-fw fa-2x"></i></a>
            </div> -->
        </div>
    </div>






    <div class="row main2 container" id="register-section">
        <div class="div3 animate__animated animate__backInLeft" id="register-section1">
            <img src="/image/logo.png" width="20%" height="20%" style="margin-top: 10%;">
            <h2>Sign UP</h2>
            <hr>
            <p>If You Already Have An Account, Login Here</p>
            <button type="button" class="btn btn-success btn-lg" id="loginbtn" style="margin-top: 0.8rem;">Login</button>
        </div>

        <div class="div4 container animate__animated animate__backInRight" id="register-section2">
            <h6 id="sec-2" style="text-align: center;color: red;"></h6>
            <form class="form2" id="addUserForm" action="/signup" method="POST" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" autocomplete="off" name="fname" class="form-control" placeholder="First name*" required>
                        <input type="text" class="form-control field" name="mname" placeholder="Middle Name">
                        <input type="text" class="form-control field" name="lname" placeholder="Last name*">
                        <input type="email" class="form-control field" id="colFormLabel" name="emailname" placeholder="Email*" autocomplete="email" required>
                        <input type="password" class="form-control field" id="pass3" name="passw1" placeholder="Password*" required>
                        <input type="password" class="form-control field" id="pass4" name="passw2" placeholder="Confirm Password*" required>
                        <input type="Number" class="form-control field" id="colFormLabel" placeholder="Mobile Number*" name="mobile" autocomplete="one-time-code" required/>
                        <fieldset class="field">
                            <select class="form-control dropdown" id="education" name="education" required>
                        <option value="" selected="selected" disabled="disabled">-- Education* --</option>
                        <option value="No formal education">No formal education</option>
                        <option value="Primary education">Primary education</option>
                        <option value="Secondary education">Secondary education or high school</option>
                        <option value="GED">GED</option>
                        <option value="Vocational qualification">Vocational qualification</option>
                        <option value="Bachelor's degree">Bachelor's degree</option>
                        <option value="Master's degree">Master's degree</option>
                        <option value="Doctorate or higher">Doctorate or higher</option>
                      </select>
                        </fieldset>
                    </div>

                    <div class="col-6">
                        <textarea class="form-control" pl id="exampleFormControlTextarea1" rows="2" name="addres" placeholder="Address*...." required></textarea>
                        <input type="text" class="form-control field" name="date" placeholder="Date Of Birth(dd/mm/yyyy)" onfocus="(this.type='date')" required>
                        <input type="text" class=" col-5 form-control field" name="pin" autocomplete="" placeholder="Pin Code*" id="zip" required>
                        <input type="text" class="col-6 form-control field" name="city" placeholder="City*" id="city">
                        <input type="text" class="form-control field" name="state" placeholder="State*" id="state">
                        <input type="text" class="form-control field" name="country" placeholder="Country*" id="country">
                        <input type="text" class="form-control field" name="desig" placeholder="Designation*">
                        <!-- <label for="formFileMultiple" class="form-label field" style="display: none;"></label>
                        <input class="form-control field" type="file" id="formFileMultiple" multiple /> -->
                    </div>
                    <button type="submit" class="btn btn-success btn-lg" id="signup-btn" style="margin-top: 0.8rem;">Register</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        var signinn = document.getElementById("login-section");
        var signn1 = document.getElementById("login-section1");
        var signn2 = document.getElementById("login-section2");
        var signuppp = document.getElementById("register-section");
        var signuppp1 = document.getElementById("register-section1");
        var signuppp2 = document.getElementById("register-section2");
        $("#signupp").click(function() {
            $(signn1).delay(200).queue(function(next) {
                $(this).addClass("animate__animated animate__backOutLeft");
                next();
            });
            // $(signn1).addClass("");
            $(signn2).addClass("animate__animated animate__backOutRight");
            $(signn1).delay(600).fadeOut();
            $(signn2).delay(600).fadeOut();
            $(signinn).delay(800).queue(function(next) {
                $(this).css("display", "none");
                next();
            });
            $(signuppp).delay(800).queue(function(next) {
                $(this).css("display", "flex");
                next();
                $(signn1).removeClass("animate__animated animate__backOutLeft");
                $(signn2).removeClass("animate__animated animate__backOutRight");
                $(signn1).fadeIn();
                $(signn2).fadeIn();
                $(signn1).addClass("animate__animated animate__backInLeft");
                $(signn2).addClass("animate__animated animate__backInRight");
            });

        });

        $("#loginbtn").click(function() {
            $(signuppp1).delay(100).queue(function(next) {
                $(this).addClass("animate__animated animate__backOutLeft");
                next();
            });
            // $(signn1).addClass("");
            $(signuppp2).addClass("animate__animated animate__backOutRight");
            $(signuppp1).delay(600).fadeOut();
            $(signuppp2).delay(600).fadeOut();

            $(signuppp).delay(800).queue(function(next) {
                $(this).css("display", "none");
                next();
            });
            $(signinn).delay(800).queue(function(next) {
                $(this).css("display", "flex");
                next();
                $(signuppp1).removeClass("animate__animated animate__backOutLeft");
                $(signuppp2).removeClass("animate__animated animate__backOutRight");
                $(signuppp1).fadeIn();
                $(signuppp2).fadeIn();
                $(signuppp1).addClass("animate__animated animate__backInLeft");
                $(signuppp2).addClass("animate__animated animate__backInRight");
            });
        });

        $("#zip").keyup(function() {
            var el = $(this);
            if (el.val().length === 6) {
                $.ajax({
                    url: "https://api.postalpincode.in/pincode/" + el.val(),
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    data: "zip=" + el.val(),
                    success: function(result, success) {
                        console.log(result[0].PostOffice[0].State);
                        $("#city").val(result[0].PostOffice[0].District);
                        $("#state").val(result[0].PostOffice[0].State);
                        $("#country").val(result[0].PostOffice[0].Country);
                    }
                });
            }
        });

        $('#signup-btn').click(function() {
            if ($('#pass3').val() != $('#pass4').val()) {
                $('#sec-2').text("Password didn't match");
                return false;
            }
        })


        ///////username validation///////

        //////username validation///////

        //password vaildation//

        //password vaildation//
    </script>
</body>

</html>