<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manger Login</title>
</head>

<body>
    <div style="width: 50%;height: 20em;background-color: sienna;text-align:center;margin-left: auto;margin-right: auto;margin-top: 8em;">
        <h1 style="color: blanchedalmond;">Signed As A Manager</h1>
        <hr><br>
        <div style="display: block;color: blanchedalmond;">
            <p>Name:
                <%=fullname%>
            </p><br>
            <p>Email:
                <%=emailval%>
            </p><br>
            <p>Designation:
                <%=design%>
            </p>
        </div>
    </div>
</body>

</html>