<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body style="background-image: url('image/back13.jpg');">
    <div style="width: 35%;height: 15emem;border-radius: 1.5em;margin-right: auto;margin-left:15em;margin-top: 8em;text-align: center;">
        <h1 style="font-size: 2.5em;font-family: 'Merriweather', serif;">Hello
        </h1>
        <p style="font-family: 'Merriweather', serif;font-size: 1em;"><b>username: - </b>
            <%=username%>
        </p>
        <hr style="width: 100%;">
        <p style="font-family: 'Viaoda Libre', cursive;font-size: 1.2em;">"On behalf of the whole department, welcome onboard! We believe you will be a terrific asset to our team, and we look forward to your input!"</p>
        <p style="font-family: 'Viaoda Libre', cursive;font-size: 1em;">“Your skills and talents will be a great addition to our project. We are so excited to have you with us and look forward to working with you!”</p>
    </div>
</body>

</html>